.font-big {
  font-size: 20px;
  line-height: 1.2;
}
.font-sm {
  font-size: 16px;
  line-height: 1.5;
}
.mb-24 {
  margin-bottom: 24px;
}
.mr-20 {
  margin-right: 20px;
}

.container {
  width: 640px;
  margin: 0 auto;
}
.df {
  display: flex;
}
.upper-main {
  display: flex;
}
.a-item {
  display: flex;
}
.item-text {
  width: 288px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}
